In [5]:
import pandas as pd
from tqdm.auto import tqdm

In [16]:
df = pd.read_csv('results.csv', index_col=0)
df.head()

,year,company,Unnamed: 0topics,Экология в целом,Климат,Энергия,Воздух,Вода,Отходы и циклическая экономика,Биоразнообразие,...,Этика,Корпоративное управление,Устойчивое развитие,!Кибербезопасность,env,gov,social,all_letters,avg,on_letters
0,2004.0,АО «Группа «Илим»,2.670868e+06,0.000000,0.005321,0.012626,0.003872,0.030120,0.020988,0.015211,...,0.000000,0.003489,0.006082,0.0,0.50,0.67,0.56,0.56,0.576667,1.00
1,2004.0,ОАО «Рязанская ГРЭС»,2.670694e+06,0.000000,0.000000,0.000000,0.031644,0.028729,0.023511,0.015468,...,0.000000,0.000000,0.000000,0.0,0.50,0.33,0.44,0.44,0.423333,0.00
8,2006,ОАО «ТГК-6»,3.071506e+06,0.012101,0.012886,0.052351,0.018976,0.026239,0.012565,0.003150,...,0.000000,0.010256,0.006888,0.0,0.47,0.48,0.39,0.43,0.446667,0.85
6,2006,ОАО «Волжская ТГК»,3.074424e+06,0.003978,0.012979,0.059898,0.026394,0.026344,0.022817,0.009506,...,0.000000,0.009659,0.007815,0.0,0.43,0.49,0.38,0.41,0.433333,0.81
2,2006,BP p.l.c.,3.075012e+06,0.012450,0.045558,0.028783,0.009554,0.006310,0.008558,0.005282,...,0.002169,0.002895,0.021662,0.0,0.38,0.53,0.37,0.40,0.426667,0.77

In [17]:
new_df = []

for idx, row in tqdm(df.iterrows(), total=df.shape[0]):
    years = row['year']
    # row["idx"] = idx
    
    if years.find(",") != -1:
        for year in years.split(","):
            new_row = row.copy()
            new_row['year'] = int(year)
            new_df.append(new_row)
    else:
        row['year'] = float(row['year'])
        new_df.append(row)

  0%|          | 0/1244 [00:00<?, ?it/s]

In [18]:
df = pd.DataFrame(new_df).reset_index(drop=True)
df['year'] = df['year'].astype(int)
df.head()

,year,company,Unnamed: 0topics,Экология в целом,Климат,Энергия,Воздух,Вода,Отходы и циклическая экономика,Биоразнообразие,...,Этика,Корпоративное управление,Устойчивое развитие,!Кибербезопасность,env,gov,social,all_letters,avg,on_letters
0,2004,АО «Группа «Илим»,2.670868e+06,0.000000,0.005321,0.012626,0.003872,0.030120,0.020988,0.015211,...,0.000000,0.003489,0.006082,0.0,0.50,0.67,0.56,0.56,0.576667,1.00
1,2004,ОАО «Рязанская ГРЭС»,2.670694e+06,0.000000,0.000000,0.000000,0.031644,0.028729,0.023511,0.015468,...,0.000000,0.000000,0.000000,0.0,0.50,0.33,0.44,0.44,0.423333,0.00
2,2006,ОАО «ТГК-6»,3.071506e+06,0.012101,0.012886,0.052351,0.018976,0.026239,0.012565,0.003150,...,0.000000,0.010256,0.006888,0.0,0.47,0.48,0.39,0.43,0.446667,0.85
3,2006,ОАО «Волжская ТГК»,3.074424e+06,0.003978,0.012979,0.059898,0.026394,0.026344,0.022817,0.009506,...,0.000000,0.009659,0.007815,0.0,0.43,0.49,0.38,0.41,0.433333,0.81
4,2006,BP p.l.c.,3.075012e+06,0.012450,0.045558,0.028783,0.009554,0.006310,0.008558,0.005282,...,0.002169,0.002895,0.021662,0.0,0.38,0.53,0.37,0.40,0.426667,0.77

In [19]:
df = df.groupby(["year", "company"])[["env", "gov", "social", "all_letters", "avg", "on_letters"]].mean()

In [20]:
# make years into columns and companies into rows and in each year shoudl be env gov social all_letters avg on_letters
unstack_df = df.unstack(level=0)
unstack_df.head()

              env                                                    ...  \
year         2000 2001 2002 2003  2004  2005  2006  2007 2008  2009  ...
company                                                              ...
Abbott        NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN   NaN  ...
Alcoa, Inc.   NaN  NaN  NaN  NaN  0.31  0.35  0.40   NaN  NaN   NaN  ...
BELUGA GROUP  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN   NaN  ...
BIOCAD        NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN   NaN  ...
BP p.l.c.     NaN  NaN  NaN  NaN  0.43  0.28  0.38  0.34  0.3  0.29  ...

             on_letters
year               2013 2014 2015 2016 2017  2018  2019  2020  2021 2022
company
Abbott              0.0  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN
Alcoa, Inc.         NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN
BELUGA GROUP        NaN  NaN  NaN  NaN  NaN   NaN   NaN  0.59   NaN  NaN
BIOCAD              NaN  NaN  NaN  NaN  NaN  0.46  0.46  0.41  0.41  NaN
BP p.l.c.           NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN

[5 rows x 138 columns]

In [23]:
unstack_df.to_csv('results_all.csv')

In [22]:
for col in ["all_letters", "avg", "on_letters"]:
    df.groupby(["year", "company"])[col].mean().unstack(level=0).to_csv(f'{col}.csv')